


body {
    font-family: 'Helvetica Now Text'; 
     text-decoration: none;
  
}

a {
    text-decoration: none;
}

#fullscreen-menu .menu-content a,
#fullscreen-menu #exit-menu {
    color: #d1d1cc;
    
}


#fullscreen-menu {
   
    text-decoration: none;
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    width: 50%;
    margin-left: 50%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    font-family: 'Helvetica Now Text'; 
    overflow: hidden;
    transition: opacity 0.5s ease;
    z-index: 10000;
    color:#d1d1cc;
    
   
}

.menu-content {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2.5%;
    color:#d1d1cc;
    height: 100%;
    font-size: 5rem;
   
}

#button:hover {
  text-decoration: underline;
 
  
}

#exit-menu {
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color:#d1d1cc;
    margin-right: 2.5%;
}


#line{
    transform: translateY(-2rem);
    width: 100%;
    position: fixed;
    border-top: 1px solid #d1d1cc;
    z-index: 1001;
}

#bg-nav{
    background-color: rgb(17, 17, 17);
    position: fixed;
    transform: translateY(-7rem);
    height: 5rem;
    width: 100%;
    z-index: 999;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 95%;
    font-size: 0.75rem;

    letter-spacing: -0.05em;
    z-index: 1000; /* Ensure it's above other content */
    
}

#nav-container-container {
    flex: 1; /* Fill remaining space */
}

header li {
    list-style: none;
    line-height: 1;
}

header li a {
    color: #d1d1cc;
    text-decoration: none;
}



#favicon {
    transform: scale(0.85);
    justify-content: flex-start;
}

ul {
    width: 69%;
    display: flex;
}

li:nth-child(1) {
    width: 50%;
}

li:nth-child(2) {
    width: 33.33%;
}

li:nth-child(3) {
    width: 33.33%;
    text-align: right;
}

li a:hover {
    text-decoration: underline;
}
li:nth-child(4) {
    width: 100%;
    text-align: right;
    display: none;
}

@media screen and (max-width: 750px) {

    li:nth-child(1) {
       
        display: none;
    }
    
    li:nth-child(2) {
        
        display: none;
    }
    li:nth-child(3) {
        
        display: none;
    }


    li:nth-child(4) {
        width: 100%;
        text-align: right;
        display: block;
        font-size: 2.4rem;
        line-height:1.2;
    }

    li a:hover {
        text-decoration: none;
    }

    #favicon {
        transform: scale(0.85) translateY(15%);
    }


    
}
