@font-face {
    font-family: 'Helvetica Now Text';
    src: url('helvetica/HelveticaNowText-Regular.otf') format('opentype'); /* Specify the path to your font file */
}
@font-face {
    font-family: 'Helvetica Now Text Bold';
    src: url('helvetica/HelveticaNowText-Bold.otf') format('opentype'); /* Specify the path to your font file */
}

@font-face {
    font-family: 'Helvetica Now Text Medium';
    src: url('helvetica/HelveticaNowText-Medium.otf') format('opentype'); /* Specify the path to your font file */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    
    
    height: 100vh;
    
    cursor: none;
    font-style: normal;
    background-color: #181818;
}


#custom-cursor {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    pointer-events: none;
    background-color: white; /* Set default background color */
    mix-blend-mode: exclusion; /* Use exclusion for better visibility */
    transition: width 0.3s, height 0.3s;
    z-index: 200000;

    /* Center the cursor */
    transform: translate(-50%, -50%);
}




#favicon {
    transform: scale(0.);
}







.start {
    height: 50vw; /* Set height to 50% of the viewport width */
    width: 50vw; /* Set width to 50% of the viewport width */
    max-height: 100vh; /* Limit height to the viewport height */
    max-width: 100vh; /* Limit width to the viewport height */
    background-color: #4680C4;
    border-radius: 50%;
    display: inline-block;
    transition: transform 1s ease; /* Apply transition */
    transform: scale(2.2); /* Initial scale */
    z-index: 500;
    position: absolute;
}

body.animate .start {
    transform: scale(0); /* Final scale */
}

.intro {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set height to 100% of the viewport height */
    transform: scale(0.9);
    margin-bottom: 10rem;
}

.intro img {
    max-height: 80%; /* Adjust maximum height as needed */
    max-width: 100%; /* Adjust maximum width as needed */
}

#landing-container{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin-top: 8rem;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 3rem;
}
#title{
    width: 100%;
    background-color: #4680C4;
    height: 10rem;
}
#subs{
    display: inline-flex;
}

#subtitle{
    width: 30.5%;
    background-color: aquamarine;
    margin-top: 2rem;
}
#subtitle2{
    width: 33%;
    background-color: rgb(165, 127, 255);
    margin-top: 2rem;
}

#photo{
    margin-top:6rem;
    width: 100%;
    background-color: #48c446;
    height: 100%;
}

@media screen and (max-width: 750px) {
    #title-container {
        max-width: 95%;
        margin-top: 7rem;
        align-items: center;
    }

    #title {
        align-items: flex-start; /* Align text to the start (top) */
        font-family: 'Helvetica Now Text Medium';
        font-size: 11vw; /* Set font size relative to viewport width */
        color: #D9D9D9;
        letter-spacing: -0.2rem;
        max-width: 95%; /* Limit width to 95% of the viewport width */
    }
}

