@font-face {
    font-family: 'Helvetica Now Text';
    src: url('helvetica/HelveticaNowText-Regular.otf') format('opentype'); /* Specify the path to your font file */
}
@font-face {
    font-family: 'Helvetica Now Text Bold';
    src: url('helvetica/HelveticaNowText-Bold.otf') format('opentype'); /* Specify the path to your font file */
}

@font-face {
    font-family: 'Helvetica Now Text Medium';
    src: url('helvetica/HelveticaNowText-Medium.otf') format('opentype'); /* Specify the path to your font file */
}

@font-face {
    font-family: 'Helvetica Now Text Light';
    src: url('helvetica/HelveticaNowText-Light.otf') format('opentype'); /* Specify the path to your font file */
}


a{
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    
    
    
    height: 100vh;
    
    cursor: none;
    font-style: normal;
    background-color: #181818;
}


#custom-cursor {
    position: fixed;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    pointer-events: none;
    background-color: white; /* Set default background color */
    mix-blend-mode: exclusion; /* Use exclusion for better visibility */
    transition: width 0.3s, height 0.3s;
    z-index: 200000;

    /* Center the cursor */
    transform: translate(-50%, -50%);
}




#favicon {
    transform: scale(0.);
}







.start {
    height: 50vw; /* Set height to 50% of the viewport width */
    width: 50vw; /* Set width to 50% of the viewport width */
    max-height: 100vh; /* Limit height to the viewport height */
    max-width: 100vh; /* Limit width to the viewport height */
    background-color: #4680C4;
    border-radius: 50%;
    display: inline-block;
    transition: transform 1s ease; /* Apply transition */
    transform: scale(2.2); /* Initial scale */
    z-index: 500;
    position: absolute;
}

body.animate .start {
    transform: scale(0); /* Final scale */
}

.intro {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set height to 100% of the viewport height */
    transform: scale(0.9);
    margin-bottom: 10rem;
}

.intro img {
    max-height: 80%; /* Adjust maximum height as needed */
    max-width: 100%; /* Adjust maximum width as needed */
}

#site-container{
  
    width: 95%;
    margin-left: 2.5%;
    position: relative;
    margin-bottom: 25rem; /* Add margin bottom to accommodate the footer */
}

#landing-container{
    
    height: fit-content;
    display: flex;
    flex-direction: column;

    margin-top: 7rem;

   
    margin-bottom: 2.5%;
   
    overflow: hidden;
}
#title {
    color: #D9D9D9;
    width: 100%;
    margin-left: -0.5%;
   
    height: clamp(2rem,6rem,8rem,10rem);
    font-family: 'Helvetica Now Text Medium';
    letter-spacing: -0.06em;
    font-size: clamp(5.5vh, 11.7vw, 13vh); 
   
}

#title.small {
    transform: scale(0.8); /* Adjust this value as needed for smaller scaling */
}

#subs{
    display: inline-flex;
    font-family: 'Helvetica Now Text';
    color: #D9D9D9;
    
   
}

#subtitle{
    width: 30.5%;
    
    margin-top: clamp(-2rem, 2vw, 2rem); /* Adjust the values as needed */
}
#subtitle2{
    width: 33%;
   
    margin-top: clamp(-2rem, 2vw, 2rem); /* Adjust the values as needed */
}


#subs1{
    font-size: 0.9rem;
 
    width: 50%;
    font-family: 'Helvetica Now Text';
    margin-top: clamp(-2rem, 2vw, 2rem); /* Adjust the values as needed */
}
#subs2{
    font-size: 0.9rem;

    width: 15%;
    font-family: 'Helvetica Now Text';
    margin-top: clamp(-2rem, 2vw, 2rem); /* Adjust the values as needed */
}

#subs3{
    font-size: 0.9rem;
    width: 30%;
 
    font-family: 'Helvetica Now Text';
    margin-top: clamp(-2rem, 2vw, 2rem); /* Adjust the values as needed */
}


#desc{
    display: inline-flex;
    font-family: 'Helvetica Now Text';
    color: #D9D9D9;
    letter-spacing: -0.06em;
    font-size: 1.5rem;
   
}


#desc1{

    width: 50%;

    
}
#desc2{

    width: 15%;

    
}

#desc3{
    width: 30%;


    
}







#paragraph-container {
  
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align items horizontally */
    height: 10rem;
}

#paragraph {
   
    padding: 20px;
    font-family: 'Helvetica Now Text Medium';
    width: 49rem;
    color: #D9D9D9;
    font-size: 2.5em;
    letter-spacing: -0.05em;
   
}

#para-logo{
    transform: scale(0.8);
    transform: translateY(17%);
}

#buttons-container {
    display: flex;
   
    margin-top: 10px; /* Adjust spacing between paragraph and buttons */
    width: 49rem;

}

#message, #cv {
    color: #D9D9D9;
    font-family: 'Helvetica Now Text Light';
   font-size: 1.2rem;
    
}

#message:hover {
text-decoration: underline;

}

#cv:hover {
    text-decoration: underline;
    
    }

#message{
    text-align: left;
    width: 50%;
}

footer {
    
   
    background-color: #101010;
    height: 25rem;
    width: 100% ;
    display:flex;
    flex-direction: row;
    
    
}

#left{
    
    font-family: 'Helvetica Now Text';
    width: 50%;
    height: 50%;
    margin-top:1rem;
    margin-left:2.5%;
}


#heading{
    font-size: 3rem;
    color:#D9D9D9;

}

#subhead{
    color:#D9D9D9;
    margin-top:5rem;
    font-size: 1.5rem;
    font-family: 'Helvetica Now Text Light';
    line-height: 0.5;
}

#copyright{
    font-family: 'Helvetica Now Text Light';
    font-size: 1rem;
    margin-top:5rem;
    color:#838383;
}

#right{
    
    width: 50%;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: flex-start; /* Align items to the top */
  
}

#footer-logo{
    margin-top: 4rem;
    margin-right: 5%;
   height: 10rem;
}





@media screen and (max-width: 750px) {

    #project-container {
        grid-template-columns: repeat(1, 1fr); /* 3 columns */

    
    }

    #paragraph {
   

        width: 100%;

    }

    #buttons-container {
        width: 100%;
    
    }

    #paragraph-container {
  
        margin-top: 5rem;
        height: 20rem;
    }

    #buttons-container {
        line-height: 2rem;
        width: 100%;
        display: flex;
       flex-direction: column;

    
    }

    #footer-logo{
        margin-top: 3rem;
        height: 5rem;
    }
    
    #message, #cv {
        color: #D9D9D9;
        font-family: 'Helvetica Now Text Light';
       font-size: 1rem;
        
    }

    
#heading{
    font-size: 2rem;
    color:#D9D9D9;

}

#subhead{
    color:#D9D9D9;
    margin-top:5rem;
    font-size: 1rem;
    font-family: 'Helvetica Now Text Light';
    line-height: 0.5;
}

#copyright{
    display:none;
}
    
    
}

