#image{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.article-wrapper{
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: clamp(30%, 50%, 80%); /* Set a minimum width of 30%, maximum width of 80%, and a width of 50% in between */
    display: block;
    margin-left: auto; /* Auto left margin */
    margin-right: auto; /* Auto right margin */
}

#article-title{
    font-family: 'Helvetica Now Text Bold';
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #D9D9D9;
}

#article{
    font-family: 'Helvetica Now Text';
    color: #D9D9D9;
    letter-spacing: -0.03em;
    font-size: 1.4rem;
    line-height: 1.5em;
}